@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  background: rgb(8, 14, 82);
}

header {
  text-align: center;
  justify-content: center;
  background: linear-gradient(to left, violet, indigo, orange, green, yellow, red, blue);
  color: rgb(8, 27, 134);
}

.text-area {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #8873e2;
  color: #000000;
  border-top: 1px solid rgb(0, 0, 0);
 
  margin-top: 0px;
 
}

.past {
  background-color: #b98585;
  color: white;
}

.present {
  background-color: #09aac7;
  color: white;
}

.future {
  background-color: #c7a6ca;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #413aa8;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.btn {
  background: #5480b3;
  justify-content: center;
  
}